/*
*一些公用的样式 some constants

*/
/* theme  classic*/
// 绿色
$grayGreen: #688770;
$grayGreenLight: #b1c6b6;
$grayGreenBold: #2e4734;

//灰色
$grey: #adadad;
$silverGray: #ededed;
$silverGrayLight: #f0f0f0;
$silverGrayBold: #adadad;
$greyBold: #6d6d6d;

//其余颜色
$crimson: #c3272b; //赤红
$yellow: #f9b800; //黄
$blue: #153c46; //蓝
$white: #ffffff; //纯白色
