/*
*一些公用的样式 some constants

*/
/* theme  classic*/
// 绿色
$grayGreen: '#688770';
$grayGreenLight: '#B1C6B6';
$grayGreenBold: '#2E4734';

//灰色
$grey: '#ADADAD';
$silverGray: '#EDEDED';
$silverGrayLight: '#F0F0F0';
$silverGrayBold: '#ADADAD';

//其余颜色
$crimson: 'C3272B'; //赤红
$yellow: 'F9B800'; //黄
$blue: '153C46'; //蓝
